<!DOCTYPE html>
<html>
<%= erb :_head %>
<body data-spy="scroll" data-target=".api-docs-sidebar" data-page="api" data-active-menu="api">
<div class="container">
  <%= erb :_nav %>


  <div class="row">
    <div class="span3 api-docs-sidebar">
      <div>

        <div class="nav nav-pills">
          <% VISIBLE_DOC_VERSIONS.each do |version| %>
           <a class="btn  <% if params[:version] == version %> btn-primary <% end %> btn-small" href="/api/<%= version %>/docs"><%= version %></a></span>
          <% end %>
        </div>
      </div>
      <ul id="doc-ul" class="nav nav-list api-docs-sidenav" data-spy="affix" data-offset-top="100"></ul>
    </div>
    <div class="span9 api">
      <%= yield %>
    </div>
  </div>

  <hr>

  <%= erb :_footer %>
</div>
<%= erb :_scripts %>

</body>
</html>
