<!DOCTYPE html>
<html>
<%= erb :_head %>
<body data-spy="scroll" data-target=".api-docs-sidebar" data-active-menu="api">

  <div class="container">
    <%= erb :_nav %>

        <%= yield %>
    <hr>

    <%= erb :_footer %>
  </div>
  <%= erb :_scripts %>
</body>
</html>
