<!DOCTYPE html>
<html>
<%= erb :_head %>
<body data-active-menu="<%= @active_menu %>">
    <%= erb :_nav %>
    <div class="container">
    <%= yield %>

    <hr>

    <%= erb :_footer %>

  </div> <!-- /container -->
  <%= erb :_scripts %>
</body>
</html>