<!DOCTYPE html>
<html>
  
<%= erb :_head %>

<body data-spy="scroll" data-target=".tutorials-sidebar" data-active-menu="tutorials">

  <div class="container tutorial">
    
    <%= erb :_nav %>

     <ul class="nav nav-pills">
       <!--   <li> Tutorials </li>-->
     </ul>
    <div class="row">

      <div class="span3 tutorial-sidebar">
      
        <ul id="doc-ul" class="nav nav-list tutorial-sidenav" data-spy="affix" data-offset-top="100">
        
          <% TUTORIALS.each do |tutorial| %>
            
            <li<% if params[:tutorial] == tutorial %> class="active"<% end %>>
        
            <a class="button" href="/tutorials/<%=tutorial%>"><%=tutorial%></a>
            
              <!-- Whatever tutorial is active, place its section listing below it -->
              <% if params[:tutorial] == tutorial %> 
                <ul class="tutorial-sectionnav" ></ul>
              <% end %>

            </li>

          <% end %>

        </ul>
     
      </div>
      <div class="span9">
        <%= yield %>
      </div>
    </div>

    <hr>

    <%= erb :_footer %>
  </div> <!-- /container -->
  <%= erb :_scripts %>
</body>
</html>
